* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: antiquewhite;
  border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

nav,
main {
  width: 960px;
  margin: auto;
}

nav {
  display: flex;
  align-content: center;
  align-items: center;
  
}

nav img {
  width: 200px;
  height: 70px;
}

h2 {
  font-size: 40px;
  background: antiquewhite;
  text-shadow: 1px 1px 3px #aaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 450px;
  width:960px;
  /* https://www.publicdomainpictures.net/pictures/110000/velka/chalkboard-or-blackboard.jpg */
  background-image: url("../assets/chalkboard.jpg");
  border: 2px solid whitesmoke;
  /* box-shadow: 5px 10px 2px whitesmoke; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
}
#menu h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  text-shadow: 1px 1px 3px #aaa;
}

#menu li {
  /* text-shadow: 1px 1px 3px #aaa; */
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  margin: 2px 0px;
  color: #eee;
  margin: 2px 10px;
}

#menu section{
  margin: 5px;
  padding-top: 5px;
  /* border-top: 3px dotted whitesmoke; */
  border-bottom: 5px dotted whitesmoke;
}
#menu > img:nth-child(5){
  width: 300px;
  transform: rotate(340deg);
  /* transform: scaleX(-1); */
}

#menu section ul li em {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* float: right; */
  /* margin-left: 15px; */
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  align-content: center;
}
nav ul li {
  margin-right: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: #222;
  padding: 10px;
  font-size: larger;
  font-family: sans-serif;
  font-weight: bolder;
}

body > main > section {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

body > main > section > div > article {
  overflow-y: scroll;
  height: 350px;
  margin-bottom: 20px;
  width: 450px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px #aaa;
}

p {
  font-size: large;
  font-family: sans-serif;
}

body main section a {
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: large;
}

#picture {
  /* background-image: url("../assets/chalkboard.jpg"); */
  background-image: url("../assets/family.jpg");
  background-size:contain;
  width:630px;
}

#picture h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 275px;
  background:rgba(225, 225, 225, 0.8)
}

body > main > section:nth-child(3) {
  margin: 5px 0px;
}

body > main > section:nth-child(3) > article {
  display: flex;
  flex-direction: column;
}

footer {
  height: 3rem;
  background-color: antiquewhite;
}
