* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: antiquewhite;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

nav,
main {
  width: 960px;
  margin: auto;
}

nav {
  display: flex;
  align-content: center;
  align-items: center;
}

nav img {
  width: 200px;
  height: 70px;
}

nav h1 {
  width: 120px;
  font-size: 30px;
  font-weigth: bolder;
}


nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
}
nav ul li {
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #222;
  padding: 10px;
  font-size: larger;
  font-family: sans-serif;
  font-weight: bolder;
}


h2 {
  font-size: 40px;
  background: salmon;
  text-shadow: 1px 1px 3px #aaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 8px;
    padding-top: 3px;
    padding-left: 5px;
    text-align: center;
    font-family: sans-serif;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 450px;
  width: 960px;
  /* https://www.publicdomainpictures.net/pictures/110000/velka/chalkboard-or-blackboard.jpg */
  background-image: url('../assets/chalkboard.jpg');
  background-size: cover;
  border: 2px solid whitesmoke;
  /* box-shadow: 5px 10px 2px whitesmoke; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
  margin-bottom: 10px;
}
#menu h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  text-shadow: 1px 1px 8px rgb(236, 158, 158);
  color: salmon;
}

#menu li {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  margin: 2px 0px;
  color: rgb(203, 234, 243);
  margin: 2px 10px;
  text-shadow: 3px 3px 10px rgb(218, 223, 172);
}

#menu section {
  margin: 5px;
  padding-top: 5px;
  /* border-top: 3px dotted whitesmoke; */
  border-bottom: 5px dotted salmon;
  border
}
#menu > img:nth-child(5) {
  width: 300px;
  transform: rotate(340deg);
  /* transform: scaleX(-1); */
}

#menu section ul li em {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* float: right; */
  /* margin-left: 15px; */
}


body > main > section {
  display: flex;
  justify-content: space-between;
}

body > main > section > div > article {
  overflow-y: scroll;
  height: 350px;
  margin-bottom: 20px;
  width: 450px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px #aaa;
}



p {
  font-size: large;
  font-family: sans-serif;
}

body main section a {
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: large;
}

#picture {
  /* background-image: url("../assets/chalkboard.jpg"); */
  background-image: url('../assets/family.jpg');
  background-position-y: 45px;
  /* filter: blur(2px); */
  background-size:cover;
  width: 630px;
  height: 375px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:10px;
}

#picture h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  /* text-align: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 400px; */
  /* margin-top: 290px; */
  text-shadow: 1px 1px 1px #aaa;
  background: #fa8072;
  border: 1px solid salmon;
  padding-bottom: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#picture h2 em {
  font-family: 'Times New Roman', Times, serif;
  display: block;
}

body > main > section:nth-child(3) {
  margin: 5px 0px;
}

body > main > section:nth-child(3) > article {
  display: flex;
  flex-direction: column;
}

#swag h2 {
  width: 300px;
  /* text-align: center; */
  padding-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#swag {
  width: 300px;
  height: 375px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../assets/shirt.jpg");
  background-position-y:51px;
  margin-bottom: 10px;
}


footer {
  height: 3rem;
  background-color: antiquewhite;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
